/* fixed main height */
html,
body,
#root {
  --at-apply: "h-full";
}

/* dark theme */
:root {
  --at-apply: "antd-variables-default";
}

body {
  --at-apply: "antd-body";
}
*,
::before,
::after {
  --at-apply: "antd-reset";
}
